$bg-row:  rgb( 248, 245, 250);
$width-form: 400px;

body{
	background-color: darkgrey;
}
.max-width{
	max-width: $width-form;
}
input{
	outline: unset;
}
.border-radius{
	border-radius: 20px;
}
.row,.right-form{
	background-color: $bg-row;
}
@media screen and (max-width: 765px) {
	.row{
		background: none !important;
	}
}